<h2 id="title">ember-cli-placeholdit</h2>

{{placehold-it}}
{{placehold-it width=200 height=100 text="Wow, so custom!"}}
{{placehold-it width=350 height=350 textColor="ffffff" backgroundColor="000000"}}
{{placehold-it format="png"}}


{{outlet}}
